body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background-color: #849d8f;
  background-image: linear-gradient(to bottom,rgba(255,255,255,.2),transparent);
  background-repeat: no-repeat;
  background-position: top center;
}

.switch-color {
  background-image: none;
  background-color: transparent;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration-color: rgba(234, 234, 234, 0.3);
}
a:hover {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}
a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background-image: 
    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  text-shadow: 
    0 -2px 5px rgba(61, 61, 46, 0.34),
    0 2px 5px rgba(160, 32, 11, 0.76); 
  padding: 10px 25px;
  text-decoration: none;
  outline: none;
  border: none;
}

.button:hover {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
  color: #fff;
  text-shadow: 
    0 -2px 5px rgba(234, 234, 155, 0.34),
    0 2px 5px rgba(160, 32, 11, 0.76); 
}

.button:focus {
  outline: black;
}

.button:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px 0px #942718; 
  text-shadow: 
    0 -2px 5px rgba(61, 61, 46, 0.34),
    0px 2px 5px rgba(160, 32, 11, 0.76); 
  color: #fceeec
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
}

.slider-controls {
  position: absolute;
  top: 469px;
  display: flex;
}

.slider-control {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.control-1:checked ~ .site-wrapper .slider-control-1 {
  background-color: #fff;
}
.control-2:checked ~ .site-wrapper .slider-control-2 {
  background-color: #fff;
}
.control-3:checked ~ .site-wrapper .slider-control-3 {
  background-color: #fff;
}

.site-wrapper {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/group2.png");
}

.site-wrapper::after {
  background-image: url("../img/group3.png");
}

#slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/group1.png");
}

#slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/group2.png");
}

#slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/group3.png");
}

.slider__item {
  display: none;
}

.control-1:checked ~ .site-wrapper .slide-1,
.control-2:checked ~ .site-wrapper .slide-2,
.control-3:checked ~ .site-wrapper .slide-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px
}

.main-navigation {
  display: flex;
}

.main-navigation__logo {
  margin-right: 10px;
} 

.site-navigation {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

.site-navigation__item {
  position: relative;
  margin-right: 2px; 
}

.site-navigation__item:last-child {
  padding-right: 0;
}

.site-navigation__link {
  position: relative; 
  padding: 7px 13px; 
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.site-navigation__link:hover {
  font-size: 16px; 
  line-height: 18px;
  font-weight:700;
  color: #333333;
  background-color: #f7f6f3;
  text-decoration: none; 
  border-radius: 20px;
}
  
.site-navigation__link:active {
  width: 80px;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px #696969;
  text-decoration: none;
  border-radius: 20px;
}

.site-navigation__link.--active {
  background-color: #d07058;
  text-decoration: none;
  border-radius: 20px;
}

.site-navigation__dropdown-list {
  z-index: 5;
  display: none;
  position: absolute;
  top: 33px;
  left: -6px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.display-dropdown:hover .site-navigation__dropdown-list {
  display: block;
}  

.site-navigation__dropdown-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 19px;
  padding-right: 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  white-space: nowrap;
  background-color: #f8f7f4;
}


.site-navigation__dropdown-item:last-child 
.site-navigation__dropdown-link {
  padding-bottom: 12px;  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.site-navigation__dropdown-link.font-bold {
  position: relative;
  font-weight: 700;
  padding-top: 10px;  
  padding-bottom: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.font-bold::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 5px;
  width: 128px;
  height: 1px;
  background-color: rgba(129, 129, 129, 0.2)
}

.site-navigation__dropdown-link:hover {
  background-color: #fbded7; 
  color: #323232;
}

.site-navigation__dropdown-link:active {
  background-color: #f6b5a5;
  color: #323232;
}

.site-navigation__dropdown-link.--active {
  background-color: #d07058;
  color: #fff;
}

.interactive-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 19px;
}

.interactive-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;

}

.interactive-menu__item {
  position: relative;
  margin-right: 11px;
  cursor: pointer;
}

.interactive-menu__item:last-child {
  margin-right: 0;
}

.interactive-menu__link {
  position: relative;
  padding: 8px 14px;
  padding-left: 43px; 
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;  
}

.only-icon {
  padding-left: 20px;
  margin-right: 0px;
}

.interactive-menu__search-icon {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 17px;
  height: 17px;
}

.interactive-menu__enter-icon {
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
}

.interactive-menu__basket-icon {
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
}

.interactive-menu__item:hover .interactive-menu__link,
.interactive-menu__item:active .interactive-menu__link {
  color: #323232;
  background-color: #f8f7f4;
}

.interactive-menu__item:hover path,
.interactive-menu__item:active path,
.interactive-menu__item:hover circle,
.interactive-menu__item:active circle {
  fill: #000;
}

.basket-full,
.interactive-menu__item:hover .basket-full,
.interactive-menu__item:active .basket-full {
  fill: #e84d37;
}

.interactive-menu .button {
  background-color: rgba(255, 255, 255, 0.2);
}

.interactive-menu .button:active {
  background-color: rgb(248, 247, 244);
}

.login-form-container {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

.interactive-menu__field-search::placeholder,
.interactive-menu__field-mail::placeholder,
.interactive-menu__field-password::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #818181;
  opacity: 1;
}

.interactive-menu__search-form {
  display: none;
}

.search-item:hover .interactive-menu__search-form {
  position: absolute;
  top: 32px;
  right: -2px;
  display: block;
}

.modal {
  position: absolute;
  z-index: 2;
  padding: 20px 15px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.modal-container::before {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  height: 45px;
  content: "";
}

.interactive-menu__field-search,
.interactive-menu__field-mail,
.interactive-menu__field-password,
.subscribe__field-mail,
.feedback-form__field-name,
.feedback-form__field-mail,
.feedback-form__field-textarea {
  padding: 14px;
  padding-top: 12px; 
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #d3d3d2;
  border-radius: 5px;
}

.interactive-menu__field-search:hover,
.interactive-menu__field-mail:hover,
.interactive-menu__field-password:hover,
.subscribe__field-mail:hover,
.feedback-form__field-name:hover,
.feedback-form__field-mail:hover,
.feedback-form__field-textarea:hover {
  box-shadow: inset 0 0 0 2px#9a9a9a;
}

.interactive-menu__field-search:focus,
.interactive-menu__field-mail:focus,
.interactive-menu__field-password:focus,
.subscribe__field-mail:focus,
.feedback-form__field-name:focus,
.feedback-form__field-mail:focus,
.feedback-form__field-textarea:focus {
  box-shadow: inset 0 0 0 2px #2e88e4;
}

.interactive-menu__field-search {
  width: 311px;
}

.interactive-menu__login-form {
  display: none;
}

.login-item:hover .interactive-menu__login-form {
  display: flex;
}

.interactive-menu__login-form {
  position: absolute;
  top: 32px;
  right: -3px;
  padding: 20px 18px;
  flex-direction: column;
}

.interactive-menu__field-mail,
.interactive-menu__field-password {
  width: 240px;
}

.login-form-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.login-form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.interactive-menu__send-form-btn {
  border: none;
  outline: none;
  border-radius: 25px;
}

.interactive-menu__forgot-password-link,
.interactive-menu__registration-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: #323232;
}

.interactive-menu__forgot-password-link:hover,
.interactive-menu__registration-link:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.basket-item:hover .interactive-menu__basket-form {
  display: block;
}

.interactive-menu__basket-form {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 540px;
  padding-top: 11px;
  padding-bottom: 22px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket__table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.basket__del-button {
  padding-bottom: 10px;
}

.higher-line {
  padding-bottom: 23px;
}

.two-lines-item {
  padding-bottom: 14px
}

.basket__button {
  width: 10px;
  height: 13px;
  font-size: 0;
  background: transparent;
  background-image: url(../img/x.png);
  background-repeat: no-repeat;
  border-color: transparent;
}

.basket__img {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 13px;
}

.basket__img img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket__item {
  width: 220px;
}

.basket__amount {
  width: 72px;
  text-align: end;
}

.basket__price {
  color: #999999;
  width: 65px;
}

.basket__total-cost {
  width: 82px;
  padding-left: 14px;
}

.basket__row:nth-last-child(2) img {
  margin-bottom: 15px;
}

.basket__row:last-child {
  border-top: 1px solid #cacac7;
}

.basket__final-total {
  padding-top: 13px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: end;
}

.basket__sent-form-button {
  padding: 10px 15px;
  float: right;
}

.schedule-and-contacts {
  position: absolute;
  top: 65px;
  width: 175px;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right; 
}

.schedule-text {
  display: block;
  margin-bottom: 4px;
}

.phone-number {
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:active {
  color: #fff;
}

.main-header {
  margin-bottom: 16px;
}

.breadcrumbs {
  margin-bottom: 11px;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs__item {
  margin-right: 22px;
}
.breadcrumbs__link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__link::after {
  content: "»";
  position: absolute;
  top: 1px;
  right: -14px;
}

.breadcrumbs__item:last-child .breadcrumbs__link::after {
  content: "";
}

.breadcrumbs__link.--active {
  text-decoration: none;
}

.container__header {
  margin-bottom: 36px;
  font-size: 35px;
  font-weight: 41px;
  font-weight: bold;
}

.picking-section {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.picking-section__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

.picking-section__fieldset {
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none;
}

.picking-section__header {
  margin-bottom: 6px;
  padding-left: 14px;
}

.temporary {
  width: 215px;
}

.picking-section__select {
  padding: 8px;
  padding-left: 10px;
  padding-right: 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.picking-section__select:hover {
  color: #000;
}

.picking-section__select:active {
  background-color: #fff;
}

.picking-section__option {
  color: #323232;
}

.picking-section__label {
  padding-left: 37px;
  padding-right: 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.picking-section__item-radio .picking-section__label {
  padding-left: 36px;
  padding-right: 13px;
}

.picking-section__range-from {
  width: 50px;
  margin-right: 0;
  padding-right: 0;
}

.picking-section__range-to {
  width: 50px;
  margin-left: 0;
  padding-right: 0;
}

.fat-content,
.fillers {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 9px;
  list-style: none;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
}

.fat-content {
  position: relative;
  padding-right: 5px;
}

.picking-section__item {
  position: relative;
}

.picking-section__label::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.picking-section__label:hover::before,
.picking-section__label:focus::before {
  opacity: 1;
}

.picking-section__label:disabled::before {
  opacity: 0.4;
}

.fat-content .picking-section__label::before {
  top: -2px;
  left: 6px;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-off.png);
}

.fat-content input:checked ~ .picking-section__label::before {
  background-image: url(../img/radio-on.png);
}

.fillers {
  padding-right: 5px;
}

.fillers .picking-section__label {
  padding-left: 40px;
  padding-right: 14px;
}

.fillers .picking-section__label::before {
  top: -2px;
  left: 6px;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-off.png);
}

.fillers input:checked ~ .picking-section__label::before {
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.png);
}

.fillers input:checked ~ .picking-section__label {
  padding-left: 37px;
  padding-right: 14px;
}

.picking-section__button {
  padding: 7px 26px;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: none;
  border: 2px solid #fff;
  border-radius: 25px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.picking-section__button:hover,
.picking-section__button:focus {
  color: black;
  background-color: #fbfcfb;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.picking-section__button:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  text-shadow: none;
}

.slider {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.slider__list {
  padding: 0; 
  margin: 0;
  list-style: none;
}

.slider__header { 
  width: 675px; 
  padding-top: 298px;
  margin: 0 auto;  
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60.35px; 
  font-weight: bold;
  text-align: center;
}

.slider__link {
  margin: 0 auto;
  padding: 10px 42px;  
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 35px;
}

.slider-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.special-offers {
  margin-bottom: 35px;
}

.special-offers__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.special-offers__item {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin: 0;
  padding: 19px;
  padding-top: 16px;
  padding-bottom: 25px;
  border-radius: 15px;
}

.special-offers__item:nth-child(1) {
  background-color: #611323;
  background-image: url(../img/raspberries-background.jpg);
  background-repeat: no-repeat;
 }

.special-offers__item:nth-child(2) {
  background-color: #45291b;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
}

.special-offers__header {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.special-offers__text {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.special-offers__link {
  margin-right: 0px;
  margin-left: auto;
  text-shadow: none;
}

.special-offers__link:hover,
.special-offers__link:active {
  text-shadow: none;
}

.features {
  margin-bottom: 40px;
  padding: 0 14px;
}

.index-features {
  margin-bottom: 14px;
}

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  position: relative;
  margin-bottom: 2px;
  width: 293px;
  height: 360px;
}

.hit {
  height: 340px;
}

.hit::before {
  content: "";
  position: absolute;
  z-index: 4;
  width: 61px;
  height: 61px;
  top: 7px;
  left: 13px;
  background-image: url(../img/hit.png);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.features__item-container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 7px 13px;
  padding-bottom: 20px;
}

.features__item:hover .features__item-container {
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.features__item img {
  margin-bottom: 8px;
  border-radius: 50%;
}

.features__item:hover .features__item img {
  margin-bottom: 4px;
}
  
.features__price {
  position: absolute;
  top: 214px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.features__price span {
  position: relative;
  padding-left: 35px;
  font-size: 30px;
}

.features__price span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 30px;
  height: 35px; 
  background-image: url(../img/ruble.png);
  background-repeat: no-repeat;
}

.features__title {
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.features__link {
  display: none;
  align-self: center;
  padding: 10px 15px;
}

.features__item:hover .features__link {
  display: block;
}

.pagination {
  margin-top: 51px;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  padding-right: 25px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.34);
  list-style: none;
}

.pagination__item {
  margin-right: 4px;
}

.pagination__item:last-child {
  margin-right: 0;
}


.pagination__item:first-child .pagination__link::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 38px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg)
}

.pagination__item:first-child .--active::before {
  opacity: 0.2;
}

.pagination__item:last-child .pagination__link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 40px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.pagination__link {
  position: relative;
  padding: 4px 8px;
  padding-top: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50%;
}

.pagination__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.pagination__link:active,
.pagination__link.--active {
  color: black;
  text-decoration: none;
  background-color: #fff;
}	

.prev-disabled {
  background-image: url(../img/prev.png);
  background-repeat: no-repeat;
  background-position-y: 7px;
}

.prev-disabled:hover,
.prev-disabled:active {
  background-color: transparent;
}

.next {
  padding: 4px 14px;
  background-image: url(../img/next.png);
  background-repeat: no-repeat;
  background-position-y: 7px;
  background-position-x: 10px;
}

.shop-info {
  margin-top: 26px;
  margin-bottom: 40px;
}

.shop-info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 20px;
  padding-bottom: 15px; 
  list-style: none; 
  background-color: #ede0c3;
  background-image: url(../img/wafer-pattern.jpg);
  border-radius: 15px;
}

.shop-info__title {
  width: 1146px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.shop-info__text {
  position: relative;
  width: 540px;
  padding-left: 55px;
  padding-top: 15px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.shop-info__text::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0;
  left: 0;
  background-repeat: no-repeat; 
}

.shop-info__text:nth-child(2)::before {
  background-image: url(../img/ice-cream.png);
}

.shop-info__text:nth-child(3)::before {
  background-image: url(../img/cow.png);
}

.shop-info__text:nth-child(4)::before {
  background-image: url(../img/leaf.png);
}

.shop-info__text:nth-child(5)::before {
  background-image: url(../img/thermometer.png);
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 40px;  
}

.blog {
  width: 560px; 
  padding-top: 25px;
  padding-left: 20px; 
  padding-bottom: 75px;
  padding-right: 255px; 
  background-color: #fff;
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat; 
  border-radius: 15px;
}

.blog__text {
  width: 285px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog__link {
  margin-top: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  width: 560px;
  border-radius: 15px;
  padding: 5px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
}

.subscribe-container {
  padding: 30px 20px;
  padding-bottom: 35px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
  
.subscribe__text {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.subscribe__field-mail {
  width: 368px;
  align-items: center;
} 

.subscribe__field-mail::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.subscribe__button {
  align-items: center; 
  padding: 0 19px;
  border: none;
  outline: none;
  text-shadow: none;
  cursor: pointer;
}

.сontact-info {
  position: relative;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232; 
}

.interactive-map {
  position: absolute;
}

.contact-info__img {
  width: 1200px;
  height: 430px;
}

.сontact-info__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 62px;
  right: 28px;
  width: 300px;
  z-index: 2;
  padding: 17px 23px;
  padding-bottom: 31px;
  background-color: white;
  border-radius: 10px; 
}

.сontact-info__text {
  width: 150px;
  margin-bottom: 1px;
}

.сontact-info__address {
  width: 225px;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.сontact-info__for-orders {
  width: 180px;
  margin-bottom: 4px;
}

.contact-info__phone {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.сontact-info__time {
  width: 180px;
  margin: 0;
  margin-bottom: 23px;
}

.сontact-info__link {
  padding: 10px 28px;
}

.feedback-form {
  display: none;
  position: fixed;
  top: 70px;
  left: 31%;
  z-index: 10;
  padding: 17px 24px;
  padding-bottom: 26px;
  border-radius: 10px;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.3);
}

.show-feedback-form {
  display: block;
}

.feedback-form__close-button {
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: transparent;
  background-image: url(../img/x-big.png);
  background-repeat: no-repeat;
  border-color: transparent;
}

.feedback-form__header {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form__container {
  position: relative;
  padding: 0;
  margin: 0;
}

.feedback-form__field-name,
.feedback-form__field-mail {
  width: 268px;
  margin-bottom: 20px;
}

.feedback-form__field-name::placeholder,
.feedback-form__field-mail::placeholder,
.feedback-form__field-textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.feedback-form__field-textarea {
  width: 430px;
  height: 155px;
  margin-bottom: 25px;
  padding-top: 10px;
}

.feedback-form__button {
  float: right;
  background-color: transparent;
  border: 1px solid transparent;
}

.main-footer {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: 208px;
  padding: 0;
  padding-top: 17px;
  list-style: none;
}

.social-media__item {
  width: 38px;
  height: 38px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media__icon {
  box-sizing: content-box;
  opacity: 0.8;
}

.social-media__item:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-media__item:hover .social-media__icon {
  opacity: 1;
}

.social-media__link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-media__item:active .social-media__icon {
  opacity: 0.7;
}

.additional-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  margin-right: 225px;
  list-style: none;
}

.additional-information__column {
}

.additional-information__link {
  display: block;
  padding-left: 29px;
  margin-bottom: 6px;
  margin-right: 3px;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-decoration-color: 1px solid rgba(255, 255, 255, 0.2);
}

.for-suppliers {
  font-weight: 700;
  position: relative;
}

.for-suppliers::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  top: 2px;
  left: 6px;
  background-image: url(../img/heart.png)
}

.web-studio-info__logo-link {
  margin-bottom: 10px;
  margin-left: 2px;
}

.web-studio-info__text {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.web-studio-info__link {
  text-decoration-color: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
}