body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background-color: #849d8f;
  
}

a {
  text-decoration: none;
  color: #fff;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  line-height: 18px;
  

}


.site-navigation {
  list-style: none;
  padding: 0;
  
}

.site-navigation__item {
  
}

.site-navigation__link {
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation__link:hover {
  color: #333333;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
  
.site-navigation__link:active {
  width: 80px;
  height: 30px; 
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation__link:hover {
  font-size: 16px; 
  line-height: 18px;
  font-weight:700;
  color: #333333;
  background-color: #f7f6f3; 
  
}

.site-navigation__dropdown-list {
  padding: 0;
  margin: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
  background-color: #f8f7f4;
}

.site-navigation__dropdown-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation__dropdown-link.fontBold {
  font-weight: 700;
}

.site-navigation__dropdown-link:hover {
  background-color: #fbded7; 
}
.site-navigation__dropdown-link:active {
  background-color: #f6b5a5;
}



.interactive-menu .button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid grba
}

.interactive-menu .button:active {
  background-color: rgb(248, 247, 244);
}


.interactive-menu__label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #fff;
}

.interactive-menu__field {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
}

.interactive-menu__send-form-btn {
  border: none;
  
  outline: none;
}

.interactive-menu__forgot-password-link,
.interactive-menu__registration-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.302); 
  
}

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-container {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}



.basket__price {
  color: #999999;
}

.basket__total-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.schedule-and-contacts {
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs__list {
	list-style: none;
	padding: 0;
}

.picking-section {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.picking-section__fieldset {
  padding: 0;
}

.picking-section__select {
  background-color: inherit; 
  background-color: rgba(248, 247, 244, 0.2);
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

.picking-section__select:active {
  background-color: #fff;
}

.picking-section__option {
  color: #323232;
}
.picking-section__list-radio,
.picking-section__list-checkbox {
  padding: 0;
  list-style: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.picking-section__header {
	font-weight: 400;
  
}

.picking-section__fieldset {
  border: none;
}

.picking-section__button {
  border: white;
  font-size: 14px;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: none;
  border: 1px solid white;
  box-shadow: none;
  
}

.picking-section__button:hover {
  border: white;
  font-size: 14px;
  color: black;
  background-color: rgba(248, 247, 244, 1);
  background-image: none;
  box-shadow: none;
  
}

.slider__list {
  list-style: none;
  padding: 0;
}

.slider__header {  
  font-size: 60px;
  font-family: "Roboto";
 
  font-weight: bold;

  text-align: center;
  
  line-height: 60.35px;
  
}

.slider__link {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider__link:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
    
}

.special-offers__list {
  padding: 0;
  list-style: none;
}

.special-offers__item:nth-child(1) {
  background-color: #611323;
  background-image: url(../img/raspberries-background.jpg);
  background-repeat: no-repeat;
}

.special-offers__item:nth-child(2) {
  background-color: #45291b;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
}

.special-offers__header {
  font-size: 35px;
  line-height: 41px;
}

.special-offers__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.features__list {
  list-style: none;
  padding: 0;
}

.features__item:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.features__item img {
  border-width: 0;
  border-radius: 50%;
}

.features__price {
  font-size: 45px;
  line-height: 45px;
}

.features__price span {
  font-size: 30px;
}

.features__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.pagination__list {
  list-style: none;
  padding: 0;
}

.pagination__link {
  font-weight: 500;
}
.pagination__link:hover {
  background-color: rgba(248, 247, 244, 0.2);
  color: #fff;
}
.pagination__link:active {
  background-color: #fff;
  color: black;
}	

.shop-info {
  background-color: #ede0c3;
  background-image: url(../img/wafer-pattern.jpg);
  background-repeat: no-repeat; 
}

.shop-info__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.shop-info__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog {
  background-color: #fff;
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat; 
}

.blog__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.subscribe {
  background-image: linear-gradient(135deg, #f8f7f4 0%, #f8f7f4 25%, #92cdff 25%, #92cdff 50%, #f8f7f4 50%, #f8f7f4 75%, #fe9e90 75%, #fe9e90 100%);

}

.subscribe__form {
  background-image: linear-gradient(135deg, #f8f7f4 0%, #f8f7f4 25%, #92cdff 25%, #92cdff 50%, #f8f7f4 50%, #f8f7f4 75%, #fe9e90 75%, #fe9e90 100%);
  background-repeat: repeat; 
  /*background-color: #f8f7f4;*/
}
  
.subscribe__label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe__button {
  border: none;
  text-align: center;
  outline: none;
}

.сontact-info {
  
}

.сontact-info__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.сontact-info__text span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

}
.contact-info__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  text-align: center;

}



.social-media {
  list-style: none;
  padding: 0;
}

.social-media__link {

}

.additional-information {
  list-style: none;
  padding: 0;
}

.additional-information__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.for-suppliers {
  font-weight: 700;
}

.web-studio-info__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.web-studio-info__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}